.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: minmax(1fr, max-content);
    grid-gap: 10px 15px;

    overflow: hidden;
    width: 90%;
    height: auto;
    padding: 0px 5px;
    margin: 0 auto;   
    margin-bottom: 5px;
}

@media (max-width: 640px) {
    .grid-container {
        grid-template-columns: 100%;
    }
}

.trackContainer {
    color: #7000b7;
    padding: 20px;
    margin: 0 auto;
    font-size: 1em;
    font-family: Palatino, Verdana, Arial;
}

.box {
    background: #7000b7;
}

.projectName {
    text-align: center;
    font-weight: bold;
}